

/*--- Colours & Fonts ---*/
:root {
    --green: #29837a;
    --blue: #102759;
    --pink1: #ff7ea4;
    --pink2: #f5b5d2;
    --black: #5b5b5b;
    --white: #fefefe;
    --transparent: rgba(0, 255, 255, 0);
}

.color-green {
    color: var(--green);
}

.bg-color-green {
    background-color: var(--green);
}

.color-pink1 {
    color: var(--pink1);
}

.bg-color-pink {
    background-color: var(--pink);
}

.btn-large:hover {
    background-color: var(--blue);
}

.alert-error {
    background-color: var(--pink);
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Generic Positioning */
.floatL {
    float: left;
}
.floatR {
    float: right;
}
.alignL {
    text-align: left;
}
.alignR {
    text-align: right;
}
.alignC {
    text-align: center;
}
.margin0 {
    margin: 0;
}
.marginL0 {
    margin-left: 0;
}
.marginR0 {
    margin-right: 0;
}
.padding0 {
    padding: 0;
}
.paddingL0 {
    padding-left: 0;
}
.paddingR0 {
    padding-right: 0;
}

.inline-block {
    display: inline-block;
}
.flex {
    display: flex;
}

/* Misc CSS */
.no-shadows {
    box-shadow: none!important;
}

.parallax-container {
    height: 320px;
}
@media (max-width: 576px) {  
    .parallax-container {
    height: 220px;
    }
}

/* Center logo at top of the page */
.nav-div {
  position: relative;
}
.brand-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}
@media (max-width: 576px) {  
    .brand-logo {
        transform: translate(-50%, 15%);
    }
}
/* .brand-logo a {
    position: relative;
    z-index: 999999999;
} Not working. */



/* Navbar */

.navbar {
    position: absolute;
    z-index:999999999;
}

.nav-logo {
    height: 150px;
    margin-top: 10px;
}

.input-row {
    margin: 0;
}

.input-field {
    margin: 0;
    max-height: 60px;
}

.page-footer, .page-footer a {
    color: var(--black);
    background-color: var(--white);
}

/* Buttons */
.button-div {
    width: 100%;
    text-align: center;
}
.btn-large {
    width: 225px;
}
@media (max-width: 576px) {  
    .btn-large {
    width: 125px;
    }
}

@media (min-width: 576px) {  
    .quiz-button {
        float: right;
    }
}

.card-panel.tabs-panel {
    padding-top: 0;
    padding-bottom: 0;
}

div#test1.col.s12.active {
    display: block;
}

.container .tabs-width {
    padding: 0;
}
.container .tabs-height {
    margin: 0;
}
.container .tabs-panel {
    margin-top: 0;
    margin-bottom: 50px;
    border: solid 1px grey;
}
.tabs .tab a{
    color: var(--white);
    background-color: var(--green);
}
.tabs .tab a.round-tab {
    color: var(--white);
    background-color: var(--pink1);
}
.tabs .tab a:hover {
    color: var(--white);
    background-color: var(--blue);
}
.tabs .tab a.active {
    color: var(--white);
    background-color: var(--green) !important;
    font-size: 1.25em;
    font-weight: 600;
}
.tabs .tab .round-tab.active {
    color: var(--white);
    background-color: var(--pink2) !important;
}
.tabs .indicator {
    background-color: var(--pink1);
}

@media (max-width: 576px) {  
    .card-panel {
        padding-left: 10px;
        padding-right: 10px;
    }
    .col.s5.m3 {
        padding-right: 0;
    }
    .col.s7.m4 {
        padding: 0;
    }
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    left: 14px;
}
div.categories_row.col.s12 {
    margin-left: 45px;
    padding: 0;
    width: auto;
}
@media (max-width: 996px) {  
    div.categories_row.col.s12 {
    margin-left: 42px;
    }
}

.collapsible-header {
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
}

/* Profile Page: Remove padding on Create button */
.profile-create-button.paddingR0 {
    padding-right: 0;
    padding-top: 30px;
}
@media (max-width: 576px) {  
    .profile-create-button.paddingR0 {
    padding-top: 0;
    text-align: center;
    }
}