/*--- Colours & Fonts ---*/
:root {
    --green: #29837a;
    --blue: #102759;
    --pink1: #ff7ea4;
    --pink2: #f5b5d2;
    --black: #5b5b5b;
    --white: #fefefe;
    --transparent: rgba(0, 255, 255, 0);
}

.color-green {
    color: var(--green);
}

.bg-color-green {
    background-color: var(--green);
}

.color-pink1 {
    color: var(--pink1);
}

.bg-color-pink {
    background-color: var(--pink);
}

.btn-large:hover {
    background-color: var(--blue);
}

.alert-error {
    background-color: var(--pink);
}

.navbar {
    position: absolute;
    z-index:999999999;
}

.nav-logo {
    height: 45px;
    margin-top: 10px;
}

.no-shadows {
    box-shadow: none!important;
}

.input-row {
    margin: 0;
}

.input-field {
    margin: 0;
    max-height: 60px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.page-footer, .page-footer a {
    color: var(--black);
    background-color: var(--white);
}

.button-div {
    text-align: center;
}

@media (min-width: 576px) {  
    .quiz-button {
        float: right;
    }
}

.card-panel.tabs-panel {
    padding-top: 0;
    padding-bottom: 0;
}

.container .tabs-width {
    padding: 0;
}
.container .tabs-height {
    margin: 0;
}
.container .tabs-panel {
    margin-top: 0;
    margin-bottom: 50px;
    border: solid 1px grey;
}
.tabs .tab a{
    color: var(--white);
    background-color: var(--green);
}
.tabs .tab a.round-tab {
    color: var(--white);
    background-color: var(--pink1);
}
.tabs .tab a:hover {
    color: var(--white);
    background-color: var(--blue);
}
.tabs .tab a.active {
    color: var(--white);
    background-color: var(--green) !important;
    font-size: 1.25em;
    font-weight: 600;
}
.tabs .tab .round-tab.active {
    color: var(--white);
    background-color: var(--pink2) !important;
}
.tabs .indicator {
    background-color: var(--pink1);
}

@media (max-width: 576px) {  
    .card-panel {
        padding-left: 10px;
        padding-right: 10px;
    }
    .col.s5.m3 {
        padding-right: 0;
    }
    .col.s7.m4 {
        padding: 0;
    }
}

.button-div.col.s12.m5 {
    padding-top: 10px;
}