{% extends "base.html" %}
{% set active_page = "about" %}
{% block content %}

    <div class="container">
        <h1 class="center-align">About Mongo Quiz</h1>
        <h3 class="center-align">The BIG fun quiz game to play alone or with family and friends.</h3>
        <p>Mongo Quiz ws born out of our weekly family quiz during Covid-19 lockdown. With family
            members spread across the country, our weekly quiz was a great way to stay in touch.
            Unfortunately however, it petered out after a few months because putting the Quiz 
            togethertok too much me.</p>
        <p>The idea of Mongo Quiz is that it's run like a tyical fun quiz with a quiz master asking
            the questions, and each team correcng their own answers nd submitting their scores at 
            the end of each round. We've just simplifed it be compiling the quesions for you, and
            helping each tam keep track of thei scores.</p>
        <p>For the best fun (and to help prevent cheating &#128512), the game is best played in 
            conjunction with an app like Zoom* or Hangouts, where teams can share their screens as 
            well as interact between rounds. Just make sure to turn the volume down when conerring
            between team members on the answers!</p>
        <br>
        {% if session.user %}
            <div class="button-div">
                <a href="{{ url_for('create') }}" class="btn-large waves-effect waves-light bg-color-green text-shadow">
                    Create 
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
        {% else %}
            <div class="button-div">
                <a href="{{ url_for('register') }}" class="btn-large waves-effect waves-light bg-color-green text-shadow">
                    Register 
                    <i class="fas fa fa-sign-in-alt"></i>
                </a>
            </div>
        {% endif %}
        <br>
        <p>*Please Note: Mongo quiz does not incorporate any communication platforms and can
            be played just as well without. However, it's much more fun is you can see each 
            other!</p> 
    </div>

{% endblock %}