{% extends "base.html" %}
{% set active_page = "create" %}

{% block content %}

    <div class="container">
        <h1 class="center-align">Create a Quiz</h1>
        <p>Complete all of the fields below (click the icons for tips), 
            click the “Create” button and we will automatically compile the 
            questions for you. If you need to make any changes or invite 
            more players, you can do so later by accessing the quiz on your 
            profile page.</p>
    </div>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('create') }}">
            <div class="card-panel">

                <!-- 1. Quiz Name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Add a name for your quiz. Max 20 Characters."></i>
                        <input id="quiz_name" name="quiz_name" type="text" minlength="5" 
                            maxlength="20" class="validate" value="{{ quiz_details.quiz_name }}" required>
                        <label for="quiz_name">Quiz Name*</label>
                    </div>
                </div>

                <!-- 2. Rounds -->
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="fas fa-arrows-alt prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Select the number of rounds in your quiz"></i>
                        <input id="rounds" name="rounds" type="number" minlength="1" 
                            class="validate" value="{{ quiz_details.rounds }}" required>
                        <label for="rounds">Rounds*</label>
                    </div>
                
                <!-- 3. Questions per Round-->
                    <div class="input-field col s12 m6">
                        <i class="fas fa-question-circle prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Select the number of questions in each round"></i>
                        <input id="questions" name="questions" type="number" min="1" 
                            class="validate" value="{{ quiz_details.questions }}" required>
                        <label for="questions">Questions*</label>
                    </div>
                </div>

                <!-- 4 Categories -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-book prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Choose a category for each round."></i>
                        <label for="categories">Categories*</label>
                    </div>
                </div>
                <br>
                <div class="row categories_row">
                    {% for n in range(1, 8+1) %}
                        <div class="input-field col s6 m4">
                            <select>
                                <option value="" disabled selected>Round {{ n }}</option>
                                {% for categories in quiz_categories %}
                                    <option id="round{{ n }}" value="{{ categories.name }}">{{ categories.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>

                <!-- 5. Questions Difficulty -->
                <div class="row">
                    <div class="input-field col s4">
                        <i class="fas fa-dumbbell prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Choose the difficulty of individual questions. The total for
                                all three options should match the number of questions per round"></i>
                        <input id="easy" name="easy" type="number" min="0"
                            class="validate" required>
                        <label id="label_easy" for="easy">Easy*</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="medium" name="medium" type="number" min="0"
                            class="validate" required>
                        <label id="label_medium" for="medium">Med*</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="hard" name="hard" type="number" min="0" 
                            class="validate" required>
                        <label id="label_hard" for="hard">Hard*</label>
                    </div>
                </div>

                <!-- 6. Invitees -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-door-open prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Add individual email addresses for those you want to take part.
                                Separate individual addresses with a comma and a space. E.G. - name1@quiz.com, name2@quiz.com"></i>
                        <textarea id="invitees" name="invitees" text="text" class="materialize-textarea"></textarea>
                        <label for="invitees">Invitees (comma separate emails)</label>
                    </div>
                </div>

                <!-- Create & Cancel Buttons-->
                <div class="flex">
                    <div id="create-button-div" class="button-div">
                        <button id="create-button" type="submit" class="btn-large submit waves-effect waves-light bg-color-green text-shadow">
                            Create <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>
                    <div class="button-div">
                        <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large waves-effect waves-light red text-shadow">
                            Cancel
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>


{% endblock %}

{% block parallax2 %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/three_lightbulbs.png') }}" alt="Quiz Light Bulbs" class="responsive-img">
        </div>
    </div>

{% endblock %}