{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}

    <div class="container">
        <h1 class="center-align">Mongo Quiz</h1>
        <h3 class="center-align">The fun quiz for interacting with families and friends.</h3>
        <p>Fed up wasting hours trying to find quiz questions? With Mongo Quiz becoming 
        the ultimate quiz master has never been easier. Tell us how many questions you 
        want to ask, the difficulty of each, and we'll create the quiz for you. All you 
        need do then is invite your friends and family and let the fun begin!</p>
        <div class="flex">
            <div class="button-div" id="temp-content">
                <a href="{{ url_for('about') }}" class="btn-large waves-effect waves-light bg-color-green text-shadow">
                    More 
                    <i class="fas fa-info-circle"></i>
                </a>
            </div>
            {% if session.user %}
                <div class="button-div">
                    <a href="{{ url_for('create') }}" class="btn-large waves-effect waves-light bg-color-green text-shadow">
                        Create 
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <br>
    </div>

{% endblock %}

{% block parallax2 %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/three_lightbulbs.png') }}" alt="Quiz Light Bulbs" class="responsive-img">
        </div>
    </div>

{% endblock %}