{% extends "base.html" %}
{% set active_page = "profile" %}

{% block content %}

    <h1 class="center-align">Hi {{ username.username }}</h1>

    <div class="container">
        <div class="row">
            <div class="col s4 m2">
                <p><strong>Name:</strong></p>
                <p><strong>Email:</strong></p>
            </div>
            <div class="col s8 m4">
                <p>{{ username.username }}</p>
                <p>{{ username.email }}</p>
            </div>
            <div class="profile-create-button alignR paddingR0 col s12 m6">
                <a href="{{ url_for('create') }}" class="btn-large waves-effect waves-light bg-color-green text-shadow">
                    Create 
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    {% if quizzes|length %}
                        {% for quiz in quizzes|sort(attribute='created', reverse = True) %}
                            {% for invitee in quiz.invitees %}
                                {% if username.email == invitee %}
                                    <li class="tab"><a href="#{{ quiz._id }}">{{ quiz.quiz_name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        <li class="tab"><strong>No quizzes yet</strong></li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-content">
                {% for quiz in quizzes %}
                    {% for invitee in quiz.invitees %}
                        {% if username.email == invitee %}
                            <div id="{{ quiz._id }}" class="col s12 active">
                                <div class="row">
                                    <div class="col s5 m2">
                                        <p><strong>Quiz Name:</strong></p>
                                        <p><strong>Quiz Master:</strong></p>
                                        <p><strong>Created:</strong></p>
                                        <p><strong>Played:</strong></p>
                                    </div>
                                    <div class="col s7 m5">
                                        <p>{{ quiz.quiz_name }}</p>
                                        <p>{{ quiz.quiz_master }}</p>
                                        <p>{{ quiz.created }}</p>
                                        <p>
                                            {% if quiz.played %}
                                                {{ quiz.played }}
                                            {% else %}
                                                Not Played Yet
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="profile-open-button alignR paddingR0 col s12 m5">
                                            <a href="{{ url_for('quiz_admin', quiz_id=quiz._id) }}"
                                                class="btn-small waves-effect waves-light bg-color-green text-shadow">
                                                Open <i class="fas fa-box-open"></i>
                                            </a>
                                        </div>
                                        <!-- Delete button only shown to the Quiz Owner -->
                                        {% if quiz.user_id == username._id %}
                                            <div class="profile-delete-button alignR paddingR0 col s12 m5">
                                                <a href="{{ url_for('delete_quiz', quiz_id=quiz._id) }}"
                                                    class="btn-small waves-effect waves-light red text-shadow">
                                                    Delete <i class="fas fa-times-circle"></i>
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="profile-delete-button alignR paddingR0 col s12 m5">
                                                <a href="{{ url_for('remove_quiz', quiz_id=quiz._id) }}"
                                                    class="btn-small waves-effect waves-light red text-shadow">
                                                    Remove <i class="fas fa-times-circle"></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <ul class="tabs">
                                            <li class="tab col s3"><a class="overall-tab" href="#{{ quiz._id }}-overall">Overall</a></li>
                                            <li class="tab col s3"><a class="round-tab" href="#{{ quiz._id }}-round-{{ loop.index }}">Round {{ loop.index }}</a></li>
                                        </ul>
                                    </div>
                                    <div id="{{ quiz._id }}-overall" class="col s12">Overall Scores per team here</div>
                                    <div id="{{ quiz._id }}-round-{{ loop.index }}" class="col s12">Round 1 scores for each team here</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block parallax2 %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/three_lightbulbs.png') }}" alt="Quiz Light Bulbs" class="responsive-img">
        </div>
    </div>

{% endblock %}