{% extends "base.html" %}
{% set active_page = "profile" %}

{% block content %}

    <div class="container">
        <h1 class="center-align">Quiz Name Here</h1>
        <p>Being Quiz Master is so simple. Click the “Publish” button to launch the quiz. 
        When everyone is ready, launch the first question. When all teams have answered 
        it, launch the next question and so on until each question in each category have 
        been asked.</p>
        <p> Keep an eye on how each team is doing in the “Scores” tab. At the end of each 
        round update the scores so that everyone can see them. Create a bit of excitement 
        by calling out the top three in advance!</p>
        <br>

        <div class="button-div">
            <a class="btn-large waves-effect waves-light bg-color-green text-shadow">
                Publish 
                <i class="fas fa fa-upload"></i>
            </a>
        </div>
        <br>
        <ul class="collapsible popout">
            <li>
                <div class="collapsible-header">Rounds</div>
                <div class="row collapsible-body">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                <h6 class="inline-block">Round 1</h6>
                                <div class="inline-block input-field col">
                                    <select>
                                        <option value="" disabled selected>Category</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                    </select>
                                </div>
                                <i class="inline-block fas fa-times"></i>
                            </div>
                            <div class="collapsible-body">
                                <i class="inline-block fas fa-times col s1"></i>
                                <p class="inline-block col s6">Questions and stuff in here!</p>
                                <i class="inline-block fas fa-redo col s1"></i>
                                <div class="inline-block input-field col s4">
                                    <select>
                                    <option value="" disabled selected>Difficulty</option>
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Scores</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a href="#overall">Overall</a></li>
                                <li class="tab col s3"><a href="#round1">Round 1</a></li>
                                <li class="tab col s3"><a href="#round2">Round 2</a></li>
                            </ul>
                        </div>
                        <div id="overall" class="col s12">Overall Scores</div>
                        <div id="round1" class="col s12">Round 1 Scores</div>
                        <div id="round2" class="col s12">Round 2 Scores</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Details</div>
                <div class="collapsible-body"><span>Details</span></div>
            </li>
        </ul>
        <br>

        <!-- Publish & Delete Buttons-->
        
        <div class="flex">
            <div class="button-div">
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large waves-effect waves-light bg-color-green text-shadow">
                    All Quizzes 
                    <i class="fas fa-object-group"></i>
                </a>
            </div>
        
            <div class="button-div">
                <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large waves-effect waves-light red text-shadow">
                    Delete 
                    <i class="fas fa-times-circle"></i>
                </a>
            </div>
        </div>

        <br>
    </div>

{% endblock %}

{% block parallax2 %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/three_lightbulbs.png') }}" alt="Quiz Light Bulbs" class="responsive-img">
        </div>
    </div>

{% endblock %}