{% extends "base.html" %}
{% set active_page = "profile" %}

{% block content %}

    <div class="container">

        {% for quiz in quizzes %}
            {% if quiz._id|string == url_quiz_id|string %}
                <h1 class="center-align">{{ quiz.quiz_name }}</h1>
                <p>Click on <strong>Round 1</strong> to begin playing. To make changes to your quiz go to the <strong>"Details"</strong> section.</p> 
                <br>

                <!-- Collapsibles Section -->
                <ul class="collapsible popout">

                    <!-- ROUNDS & QUESTIONS SECTION -->
                    <li class="active">
                        <div class="collapsible-header">
                            ROUNDS
                        </div>
                        <div class="row collapsible-body">
                            <ul class="collapsible">

                                <!-- Extract the individual categories -->
                                {% for category in quiz.categories %}
                                    <li>
                                        <!-- Individual Rounds Header Section -->
                                        <div class="collapsible-header">
                                            <h6 class="inline-block"><strong>Round {{ loop.index }} - </strong>{{ category.name }}</h6>
                                            <!-- <h6 id="loop_index" class="inline-block">{{ loop.index|int }}</h6> -->
                                        </div>
                                        <!-- Individual Rounds Body Section for Answers -->
                                        <div class="collapsible-body">
                                            {% for question in quiz_questions %}
                                                {% for questions in question %}
                                                    {% if questions.category == category.name %}
                                                        <div class="questions-row-div row">
                                                            <!-- Safe filter escapes unicode characters as delivered by the API call-->
                                                            <p class="questions-row inline-block col s12 m9 floatR">{{ questions.difficulty }} Q{{ loop.index }} - {{ questions.question|safe }}</p>
                                                            <p class="questions-row difficulty inline-block col s12 m3 floatR"><strong>Difficulty: </strong>{{ questions.difficulty }}</p>
                                                        </div>
                                                        <div class="answer_button_row row">
                                                            {% for answer in questions.all_answers %}
                                                                <button type="button" onclick="{% if answer|safe == questions.correct_answer|safe %} addScoreFn(); {% endif %}"
                                                                    class="answer_button btn-small waves-effect waves-light bg-color-green text-shadow col s12 m6 {% if answer|safe == questions.correct_answer|safe %}correct-answer{% endif %}"
                                                                    value="{{ answer }}">
                                                                    {{ answer|safe }}
                                                                </button>
                                                            {% endfor %}
                                                        </div>
                                                        <div id="answer_button_row2 row">
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <!-- Total Scores Section -->
                    <div>
                        <center>
                            <h6><strong>Total Quiz Score: </strong>
                            <span id="count">Game not played yet</span></h6>
                        </center>
                    </div>

                    <!-- Total Scores Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Correct & Right! Your Total Quiz Score is: <span id="count2">0</span></p>
                        </div>
                    </div>

                    <!-- Span is here so as to dynamically create unique ID's that can be accessed in JS -->
                    {% for category in quiz.categories %}
                        <span style="display: none" id="cat-{{loop.index}}">{{ category.name }}</span>
                    {% endfor %}

                    <!-- QUIZ DETAILS SECTION -->
                    {% if quiz.user_id == username._id %}
                        <li>
                            <div class="collapsible-header" onclick="getCategoriesFn()" >
                                DETAILS
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <p>Edit any of the fields or add and click the "Update" button to change your quiz. Update your list of invitees
                                        by adding or removing email addresses. <strong>NOTE:</strong> Quiz cannot be edited once it has been published.</p>
                                </div>
                                <span>
                                    <div id="details-form-row" class="row">
                                        <form  id="details-form" class="col s12 m8 offset-m2" method="POST" action="{{ url_for('update_quiz', quiz_id=quiz._id) }}" >
                                            <div id="details-card-panel" class="card-panel">

                                                <!-- 1. Quiz Name-->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-user-plus prefix color-green tooltipped" data-position="bottom" 
                                                            data-tooltip="Add a name for your quiz. Max 20 Characters."></i>
                                                        <input id="quiz_name" name="quiz_name" type="text" minlength="5" 
                                                            maxlength="20" class="validate" value="{{ quiz.quiz_name }}" required>
                                                        <label for="quiz_name">Quiz Name*</label>
                                                    </div>
                                                </div>

                                                <!-- 2. Rounds -->
                                                <div id="rounds-row" class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-arrows-alt prefix color-green tooltipped" data-position="bottom" 
                                                            data-tooltip="Select the number of rounds in your quiz"></i>
                                                        <input id="rounds" name="rounds" type="number" min="1" max="10"
                                                            class="validate" value="{{ quiz.rounds }}" required>
                                                        <label for="rounds">Rounds*</label>
                                                    </div>
                                                </div>

                                                <!-- 3 Categories - Details and HTML populated from script.js -->
                                                <div id="categories_row" class="row categories_row">
                                                </div>

                                                <!-- 4. Questions per Round-->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-question-circle prefix color-green tooltipped" data-position="bottom" 
                                                            data-tooltip="Select the number of questions in each round"></i>
                                                        <input id="questions" name="questions" type="number" min="1" max="10"
                                                            class="validate" value="{{ quiz.questions }}" required>
                                                        <label for="questions">Questions*</label>
                                                    </div>
                                                </div>

                                                <!-- 5. Questions Difficulty -->
                                                <div class="row">
                                                    <div class="input-field col s4">
                                                        <i class="fas fa-dumbbell prefix color-green tooltipped" data-position="bottom" 
                                                            data-tooltip="Choose the difficulty of individual questions. The total for
                                                                all three options should match the number of questions per round"></i>
                                                        <input id="easy" name="easy" type="number" min="0"
                                                            class="validate" value="{{ quiz.easy }}" required>
                                                        <label id="label_easy" for="easy">Easy*</label>
                                                    </div>
                                                    <div class="input-field col s4">
                                                        <input id="medium" name="medium" type="number" min="0"
                                                            class="validate" value="{{ quiz.medium }}" required>
                                                        <label id="label_medium" for="medium">Med*</label>
                                                    </div>
                                                    <div class="input-field col s4">
                                                        <input id="hard" name="hard" type="number" min="0" 
                                                            class="validate" value="{{ quiz.hard }}" required>
                                                        <label id="label_hard" for="hard">Hard*</label>
                                                    </div>
                                                </div>

                                                <!-- 6. Invitees -->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="fas fa-door-open prefix color-green tooltipped" data-position="bottom" 
                                                            data-tooltip="Add individual email addresses for those you want to take part.
                                                                Separate individual addresses with a comma and a space. E.G. - name1@quiz.com, name2@quiz.com"></i>
                                                        <textarea onclick="textAreaAdjust(this)" id="invitees" name="invitees" text="text" class="materialize-textarea" value="{{ quiz.invitees }}" active>{{ quiz.invitees|join(', ') }}</textarea>
                                                        <label for="invitees">Invitees (comma separate emails)</label>
                                                    </div>
                                                </div>

                                                <!-- Preloader code from https://materializecss.com/preloader.html -->
                                                <div id="preloader" class="preloader-wrapper big active" style="display:none">
                                                    <div class="spinner-layer spinner-green-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div><div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div><div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Update & Cancel Buttons-->
                                                <div class="row">
                                                    <div id="create-button-div" class="button-div col s12 m6">
                                                        <button id="create-button" type="submit" class="btn-large submit waves-effect waves-light bg-color-green text-shadow" onclick="preLoaderFn()">
                                                            Update <i class="fas fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                    <div class="button-div col s12 m6">
                                                        <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large waves-effect waves-light red text-shadow">
                                                            Cancel
                                                            <i class="fas fa-times-circle"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </span>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <br>
            
                <!-- Publish & Delete Buttons-->
                <div class="row">
                    <div class="button-div col s12 m6">
                        <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large waves-effect waves-light bg-color-green text-shadow">
                            All Quizzes 
                            <i class="fas fa-object-group"></i>
                        </a>
                    </div>
                    {% if quiz.user_id == username._id %}
                        <div class="button-div col s12 m6">
                            <a href="{{ url_for('delete_quiz', quiz_id=quiz._id) }}"
                                class="btn-large waves-effect waves-light red text-shadow">
                                Delete <i class="fas fa-times-circle"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <br>
                {% if quiz.user_id == username._id %}
                    <div class="row alignC">
                        <h3>Quiz Link</h3>
                        <p>Copy the link below and send it to your friends. But remember, in order for them to participate, you must include the email address in the "Players" section in <strong>DETAILS</strong>.</p>
                        <p id="game-link" >https://mongo-quiz.herokuapp.com/quiz_admin/{{ quiz._id }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %} 

    </div>

{% endblock %}

{% block parallax2 %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/three_lightbulbs.png') }}" alt="Quiz Light Bulbs" class="responsive-img">
        </div>
    </div>

{% endblock %}