{% extends "base.html" %}
{% set active_page = "register" %}

{% block content %}

    <div class="container">
        <h1 class="center-align">Register</h1>
        <p>Make sure to pick a fun username as this is what other players will see.</p>
        <p>Click or hover over the icons on each line for helpful tips. You can 
            do this throughout the site.</p>
    </div>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">

                <!-- Username Input-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Add your player or team name"></i>
                        <input id="username" name="username" type="text" minlength="5" 
                            maxlength="25" class="validate" required>
                        <label for="username">Player/Team Name</label>
                    </div>
                </div>

                <!-- Email Input-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="Add your email address"></i>
                        <input id="email" name="email" type="email" minlength="8" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>

                <!-- Password Input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix color-green tooltipped" data-position="bottom" 
                            data-tooltip="8 characters minimum, plus at least one Uppercase 
                            and one lowercase latter"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- Register & Cancel Buttons-->
                <div class="flex">
                    <div class="button-div">
                        <button type="submit" class="btn-large submit waves-effect waves-light bg-color-green text-shadow">
                            Register <i class="fas fa fa-sign-in-alt"></i>
                        </button>
                    </div>
                    <div class="button-div">
                        <a href="{{ url_for('home') }}" class="btn-large waves-effect waves-light red text-shadow">
                            Cancel
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </div>
                </div>

                <!-- Already Register? Link -->
                <div class="row input-row">
                    <p class="center-align">
                        Already Registered? 
                        <a href="{{ url_for('login') }}" class="color-pink1">Log In</a>
                    </p>
                </div>

            </div>
        </form>
    </div>


{% endblock %}

{% block parallax2 %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/three_lightbulbs.png') }}" alt="Quiz Light Bulbs" class="responsive-img">
        </div>
    </div>

{% endblock %}