{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Register</h1>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">

                <!-- Username Input-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix color-green"></i>
                        <input id="username" name="username" type="text" minlength="5" 
                            maxlength="25" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>

                <!-- Email Input-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-at prefix color-green"></i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>

                <!-- Password Input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix color-green"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- Register Button-->
                <div class="row input-row">
                    <button class="submit col s12 btn-large bg-color-green text-shadow">
                        Register <i class="fas fa fa-sign-in-alt"></i>
                    </button>
                </div>

                <!-- Already Register? Link -->
                <div class="row input-row">
                    <p class="center-align">
                        Already Registered? 
                        <a href="{{ url_for('login') }}" class="color-pink1">Log In</a>
                    </p>
                </div>

            </div>
        </form>
    </div>


{% endblock %}

{% block parallax2 %}

    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/three_lightbulbs.png') }}" alt="Quiz Light Bulbs" class="responsive-img">
        </div>
    </div>

{% endblock %}