@app.route("/quiz_admin/<quiz_id>")
def quiz_admin(quiz_id):

    # Extracts quiz details from DB
    quizzes = list(mongo.db.quizzes.find())
    for data in quizzes:
        easy = str(data["easy"])
        #categories = data["categories"]
        dataQuiz = data["_id"]
        dataQuizID = str(dataQuiz)

        if quiz_id == dataQuizID:

            # Extracting the token from the API
            url = "https://opentdb.com/api_token.php?command=request"
            payload = {}
            headers = {}
            response = requests.request("GET", url, headers=headers, data=payload)
            quiz_token = json.loads(response.text.encode("utf8"))["token"]

            # Extracting the Questions from the API
            url = "https://opentdb.com/api.php?amount=" + easy + "&category=9&difficulty=easy&type=multiple&token=" + quiz_token
            print("URL: ", url)
            payload = {}
            headers = {}
            q_response = requests.request("GET", url, headers=headers, data=payload)
            quiz_questions = json.loads(q_response.text.encode("utf8"))["results"]

            # Extracts the quiz _id from the URL
            url = str(request.base_url)
            url_quiz_id = url.split('/')[-1]

            return render_template("quiz_admin.html", quizzes=quizzes, quiz_questions=quiz_questions, url_quiz_id=url_quiz_id)